<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userRepo23" class="com.dao.UserDAO"/>

    <bean id="userService" class="com.service.UserService">
        <property name="userDAO" ref="userRepo23"/>
    </bean>

</beans>